ComicsStoreBack/ComicsStoreClient/App_WebReferences/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comics" nillable="true" type="tns:Comics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComics" nillable="true" type="tns:ArrayOfComics" />
  <xs:complexType name="Comics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comics" nillable="true" type="tns:Comics" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
</xs:schema>