ComicsStoreBack/ComicsStoreClient/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ComicsStoreBack/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" />
  <xs:element name="GetAllComics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" minOccurs="0" name="GetAllComicsResult" nillable="true" type="q1:ArrayOfComics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" minOccurs="0" name="GetAuthorByIdResult" nillable="true" type="q2:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComicsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComicsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" minOccurs="0" name="GetComicsByIdResult" nillable="true" type="q3:Comics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorComics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorComicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" minOccurs="0" name="GetAuthorComicsResult" nillable="true" type="q4:ArrayOfComics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComicsAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comicsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComicsAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComicsStoreBack.Data" minOccurs="0" name="GetComicsAuthorsResult" nillable="true" type="q5:ArrayOfAuthor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="increaseComicsPriceOfAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newPrice" type="xs:int" />
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="increaseComicsPriceOfAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAuthorNameOfComics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comicsId" type="xs:int" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAuthorNameOfComicsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeComics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeComicsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>